  <div class="container-fluid">
	  <h1 class="text-center grayfont">The Team</h1>
		  <div class="container-fluid">
			  <div class="row">
			  	<div class="col-md-3">
			      <img class="img-responsive" src="img/catnikolovski.jpeg" alt="Catherine Nikolovski" />
			      <h4>Cat Nikolovski &mdash; Producer</h4>
			     </div>
			     <div class="col-md-3">
			      <img class="img-responsive" src="img/hobsonlane.jpeg" alt="Hobson Lane" />
			      <h4>Hobson Lane &mdash; Lead Data Scientist</h4>
			     </div>
			  	<div class="col-md-3">
			      <img class="img-responsive" src="img/kenwhaler.jpeg" alt="Ken Whaler" />
			      <h4>Ken Whaler &mdash; Front End Team Lead</h4>
			    </div>
			     <div class="col-md-3">
			      <img class="img-responsive" src="img/team/amandameyer.jpeg" alt="Amanda Meyer" />
			      <h4>Amanda Meyer &mdash; Visual Designer</h4>
			     </div>
		      </div><hr>
		  </div>
  </div>		  